<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_Script"
          maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"
          messageEncoding="Mtom"
          openTimeout="00:35:00"
          closeTimeout="00:35:00"
          sendTimeout="00:35:00"
          receiveTimeout="00:35:00"/>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="wsHttpBinding" scheme="http" bindingConfiguration="WSHttpBinding_Script" />
    </protocolMapping>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <!--<add name="ConStrPG" connectionString="Server=localhost;Port=5433;User Id=postgres;Password=postgres;Database=bd_dgo;Protocol=3;Pooling=true;MinPoolSize=20;ConnectionLifeTime=15;" />-->
    <add name="ConStrPG" connectionString="Server=127.0.0.1; Port=5433; User Id=postgres; Password=postgres; Database=bd_dgo;" />
  </connectionStrings>
</configuration>
