<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConStrPG" connectionString="Server=localhost;Port=5433;User Id=postgres;Password=postgres;Database=bd_dgo;Protocol=3;Pooling=true;MinPoolSize=20;ConnectionLifeTime=15;" />
  </connectionStrings>
</configuration>